<li [ngClass]="{'list-group-item': true,'list-group-item-success': post.loveIts > 0, 'list-group-item-danger': post.loveIts < 0}">
  <h4>
    {{post.title}}
    <i *ngIf="post.loveIts > 0" [style.marginLeft]="'20px'">{{post.loveIts}} <fa name="thumbs-up"></fa></i>
    <i *ngIf="post.loveIts < 0" [style.marginLeft]="'20px'">{{-post.loveIts}} <fa name="thumbs-down"></fa></i>
    <i class="pull-right">{{post.created_at | date:'short'}}</i>
  </h4>
  <p>{{post.content}}</p>
  <div class="btn-toolbar">
    <button class="btn btn-success" type="button" (click)="onLoveIt()">Love it!</button>
    <button class="btn btn-danger" type="button" (click)="onDontLoveIt()">Don't love it!</button>
  </div>
</li>
